<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--  JavaBean类型自动映射扫描包配置 Java类型别名  -->
    <properties resource="jdbcConfig.properties"/>
    <settings>
        <!-- 设置是否启用缓存 -->
        <setting name="cacheEnabled" value="true"/>
        <!-- 设置是否启用懒加载 -->
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.gtr.Bean"/>
        <!--<typeAlias alias="User" type="com.brok1n.web.java.springmvcdemo1.bean.User" />-->
    </typeAliases>

    <environments default="development">
        <!-- 数据库环境 -->
        <environment id="development">
            <!-- 使用JDBC使用管理 -->
            <transactionManager type="JDBC"/>
            <!-- 数据源配置 -->
            <dataSource type="POOLED">
                <property name="driver" value="${spring.datasource.driver}"/>
                <property name="url" value="${spring.datasource.url}"/>
                <property name="username" value="${spring.datasource.username}"/>
                <property name="password" value="${spring.datasource.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!-- 映射器 -->
    <mappers>
        <mapper resource="UserMapper.xml"/>
    </mappers>
</configuration>