<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>无标题文档</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/layui/css/main.css">
    <script type="text/javascript" src="/layui/layui.all.js"></script>
    <style type="text/css">
        #div1{
            margin:0 auto;
            width:1000px;
        }
        #div2{
            background-color:#F0F0F0;
            height:500px;

        }
        #div5{
            background-color:#F0F0F0;
            height:70px;
        }
        #buycountInput{
            height:20px;
            width:40px;}
        #button{
            height:20px;
            width:20px;
            background-color:#F0F0F0;
        }
    </style>

</head>

<body>



<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item">
        <a href=""><img src="../layui/img/banner.jpg" class="layui-nav-img">登录</a></li>
    <li class="layui-nav-item"><a href="">主页</a></li>
    <li class="layui-nav-item layui-this"><a href="">房源</a></li>
    <li class="layui-nav-item"><a href="">注册</a></li>
    <li class="layui-nav-item">
        <a href="">用户</a>
        <dl class="layui-nav-child">
            <dd><a href="">信息</a></dd>
            <dd><a href="">上传</a></dd>
        </dl>
    </li>
</ul>


<br>
<div id="div2">
    <div id="div1">
        <div id="div3" style="background-color:#F0F0F0;height:480px;width:480px;margin:10px;float:left;">
            <div class="layui-carousel" id="test1">
                <div carousel-item>
                    <div style="text-align:center"><img src="../layui/img/wbb1.jpg"></div>
                    <div style="text-align:center"><img src="../layui/img/wbb2.jpg"></div>
                    <div style="text-align:center"><img src="../layui/img/wbb3.jpg"></div>
                </div>
            </div>
        </div>
        <div id="div4" style=" text-align:center; color:#009688;  background-color:#F0F0F0;height:480px;width:480px;margin:10px; float:left;">

            <p style="font-size:25px;font-weight:500;">12333333333</p>

            <hr style="color: #000000;height: 3px">

            <p style="font-size:35px;font-weight:500;">ff grhsdh sgfh g</p>
            <hr style="color: #000000;height: 3px">

            <p style="font-size:33px;font-weight:500;">售价：1000</p>
            <br><br><br>

            <button type="button" class="layui-btn layui-btn-warm" formaction="interest"><i class="layui-icon layui-icon-star"></i><span>收藏</span></button>

<!--            收藏：把房屋的标识符传给user的收藏-->

        </div>

        <div id="div89" style="width:1000px;">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
</div>
<script>
    layui.use('carousel', function(){
        var carousel = layui.carousel;
        carousel.render({
            elem: '#test1'
            ,width: '100%'
            ,height:'100%'
            ,arrow: 'always'
        });
    });
</script>

<script>
    var element = layui.element;
    var layer = layui.layer;
    var form = layui.form;
    form.render('select');
    layui.element.init();
</script>
</body>


</html>
