<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>首页</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/js/script.js}"></script>
</head>
<body>

	<div class="container">
             asdadadas
		<li><a href="tosign" class="btn btn-sm btn-primary">1. Thymeleaf表达式</a></li>
		<hr>
	</div>
</body>
</html>
