<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>

    <base th:href="@{/}">
    <link rel="stylesheet" href="/layui/css/layui.css">

    <script type="text/javascript" src="/layui/layui.all.js"></script>
</head>

<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 35px">
    <legend style=" text-align:center; color: #009688;">登录</legend>

</fieldset>



<form class="layui-form"  style=" text-align:center; color: #009688;" action="user/login" method="post">

<!--登录：用户名 密码-->

    <div class="layui-form-item">
        <div class="layui-inline" >
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline" style=" text-align:center; color: #009688;">
                <input type="text" name="username" required lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline" >
            <label class="layui-form-label">用户密码</label>
            <div class="layui-input-inline">
                <input type="password" name="password" required lay-verify="pwd" placeholder="请输入密码" autocomplete="off" class="layui-input" id="pass1">
            </div>
        </div>


    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="">登录</button>
        </div>
    </div>

</form>

<script>

    var layer = layui.layer;
    var form = layui.form;
    form.render('select');
</script>
<script>
</script>
</body>
</html>